@model BokingAppStore.BLL.DataTransfer.BookDTO

@{
     ViewBag.Title = "Delete";
}

<h2>Удаление книги</h2>
<dl>
     <dt>Название предмета</dt>
     <dd>
          @Html.DisplayFor(model => model.Name)
     </dd>

     <dt>Номер лаб. раб.</dt>
     <dd>
          @Html.DisplayFor(model => model.NumberLab)
     </dd>

     <dt>Вариант</dt>
     <dd>
          @Html.DisplayFor(model => model.Variant)
     </dd>
</dl>

@using (Html.BeginForm())
{
     <input type="submit" value="Удалить" />
}

